<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body style="background-color: #92C9B1; margin-left: 50px; ">
    <h1 style="color: #4f759b; text-align: center; ">Desafio primer MVT</h1>
    <p>La intención de este primer MVT es leer tres datos de alguno de tus familiares</p>
    <ul>
        <li>Nombre</li>
        <li>Identificación</li>
        <li>Fecha de nacimiento</li>
    </ul>
    <p>Copia la siguiente URL en tu navegador sin presionar enter:</p>
    <p style="color: #571F4E; text-align: center;"><b>http://127.0.0.1:8000/familiares/'nombre'/'identificación'/'fecha de nacimiento'</b></p>
    <p>Para lograr guardar el dato de tu familiar es necesario reemplazar en la URL los siguientes datos omitiendo las comillas simples:</p>
    <ol>
        <li><b>Nombre:</b> ingresa el nombre de tu familiar.</li>
        <li><b>Identificación:</b> ingresa el número de identificación de tu familiar.</li>
        <li><b>Fecha de nacimiento:</b> ingresa la fecha de nacimiento con el siguiente formato DD-MM-AAAA.</li>
    </ol>
    <p>La URL debe quedar de la siguente manera:</p>
    <p style="color: #571F4E; text-align: center;"><b>http://127.0.0.1:8000/familiares/Diego Gómez/152658452/31-10-1989</b></p>
    <p>Luego presiona enter y observa el resultado.</p>




</body>
</html>